# Node modules
server/node_modules/

# Logs
server/logs
*.log

# Environment variables
server/.env

# Frontend build and node_modules
client/node_modules/
client/build/
client/.env

# General
.DS_Store
*.swp
